[submodule "Cc65Library/zsmkit"]
	path = Cc65Library/zsmkit
	url = https://github.com/mooinglemur/zsmkit.git
[submodule "BitBench"]
	path = BitBench
	url = https://github.com/Yazwh0/BitBench.git
[submodule "Ca65DreamTracker/dream-tracker"]
	path = Ca65DreamTracker/dream-tracker
	url = https://gitlab.com/m00dawg/dream-tracker.git
[submodule "Rom/x16-rom"]
	path = Rom/x16-rom
	url = https://github.com/X16Community/x16-rom.git
