[submodule "Cc65Library/zsmkit"]
	path = Cc65Library/zsmkit
	url = https://github.com/mooinglemur/zsmkit.git
[submodule "BitBench"]
	path = BitBench
	url = https://github.com/Yazwh0/BitBench.git
[submodule "Ca65Dreamtracker/dream-tracker"]
	path = Ca65Dreamtracker/dream-tracker
	url = https://gitlab.com/m00dawg/dream-tracker.git
